<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Yard-Sale</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vivus/0.4.6/vivus.min.js"></script>
</head>
<style type="text/css">
  #my-svg{
    stroke-linecap: square;
    fill-opacity: 0.5;
  }
  #my-svg.finished{
    fill-opacity: 1;
  }
  footer{
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    background-color: blue;
    color: aliceblue;
  }
  header{
    height: 60px;
  }
</style>
<body>
  <div class="wrapper">
    <header>
      <h1>
        {{#if loggedIn}}
        <a href="/homepage">Yard Sale</a>
        {{else}}
        <a href="/">Yard Sale</a>
        {{/if}}
      </h1>

      <nav>
        {{#if loggedIn}}
          <button id="logout" class="btn-no-style">Logout</button>
          {{else}}
        <a href="/login">Login / Sign Up</a>
        {{/if}}
     </nav>

    </header>
    <main style="padding-bottom: 50px; padding-top: 20px; margin: 0px 20px;">
      {{{ body }}}
    </main>
    <footer>
      Buy and sell items with people in your neighbourhood!
    </footer>
  </div>

{{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
{{/if}}

  <script type="text/javascript">
    new Vivus(
      'my-svg',{
        type: 'delayed',
        duration: 200,
        animTimingFunction: Vivus.EASE
      }
    );
</script>

</body>

</html>