
<div  style="width: 100%; height: auto;">

<svg id="my-svg" width="562" height="348" viewBox="0 0 562 348" fill="yellow" xmlns="http://www.w3.org/2000/svg">
<path d="M0.5 0.5H561.5V347.5H0.5V0.5Z" fill="red" stroke="black"/>
<line y1="173.5" x2="562" y2="173.5" stroke="black"/>
<path d="M151.955 67.1818H161.636L181 99.7727H181.818L201.182 67.1818H210.864L185.636 108.227V137H177.182V108.227L151.955 67.1818Z" stroke="blue" stroke-width="3"/>
<path d="M217.537 137H208.673L234.31 67.1818H243.037L268.673 137H259.81L238.946 78.2273H238.401L217.537 137ZM220.81 109.727H256.537V117.227H220.81V109.727Z" stroke="red" stroke-width="3"/>
<path d="M279.548 137V67.1818H303.139C308.594 67.1818 313.071 68.1136 316.571 69.9773C320.071 71.8182 322.662 74.3523 324.344 77.5795C326.026 80.8068 326.866 84.4773 326.866 88.5909C326.866 92.7045 326.026 96.3523 324.344 99.5341C322.662 102.716 320.082 105.216 316.605 107.034C313.128 108.83 308.685 109.727 303.276 109.727H284.185V102.091H303.003C306.73 102.091 309.73 101.545 312.003 100.455C314.298 99.3636 315.957 97.8182 316.98 95.8182C318.026 93.7955 318.548 91.3864 318.548 88.5909C318.548 85.7955 318.026 83.3523 316.98 81.2614C315.935 79.1705 314.264 77.5568 311.969 76.4205C309.673 75.2614 306.639 74.6818 302.866 74.6818H288.003V137H279.548ZM312.412 105.636L329.594 137H319.776L302.866 105.636H312.412Z" stroke="blue" stroke-width="3"/>
<path d="M362.5 137H340.955V67.1818H363.455C370.227 67.1818 376.023 68.5795 380.841 71.375C385.659 74.1477 389.352 78.1364 391.92 83.3409C394.489 88.5227 395.773 94.7273 395.773 101.955C395.773 109.227 394.477 115.489 391.886 120.739C389.295 125.966 385.523 129.989 380.568 132.807C375.614 135.602 369.591 137 362.5 137ZM349.409 129.5H361.955C367.727 129.5 372.511 128.386 376.307 126.159C380.102 123.932 382.932 120.761 384.795 116.648C386.659 112.534 387.591 107.636 387.591 101.955C387.591 96.3182 386.67 91.4659 384.83 87.3977C382.989 83.3068 380.239 80.1705 376.58 77.9886C372.92 75.7841 368.364 74.6818 362.909 74.6818H349.409V129.5Z" stroke="red" stroke-width="3"/>
<path d="M209.902 244.636C209.493 241.182 207.834 238.5 204.925 236.591C202.016 234.682 198.447 233.727 194.22 233.727C191.129 233.727 188.425 234.227 186.107 235.227C183.811 236.227 182.016 237.602 180.72 239.352C179.447 241.102 178.811 243.091 178.811 245.318C178.811 247.182 179.254 248.784 180.141 250.125C181.05 251.443 182.209 252.545 183.618 253.432C185.027 254.295 186.504 255.011 188.05 255.58C189.595 256.125 191.016 256.568 192.311 256.909L199.402 258.818C201.22 259.295 203.243 259.955 205.47 260.795C207.72 261.636 209.868 262.784 211.913 264.239C213.982 265.67 215.686 267.511 217.027 269.761C218.368 272.011 219.038 274.773 219.038 278.045C219.038 281.818 218.05 285.227 216.072 288.273C214.118 291.318 211.254 293.739 207.482 295.534C203.732 297.33 199.175 298.227 193.811 298.227C188.811 298.227 184.482 297.42 180.822 295.807C177.186 294.193 174.322 291.943 172.232 289.057C170.163 286.17 168.993 282.818 168.72 279H177.447C177.675 281.636 178.561 283.818 180.107 285.545C181.675 287.25 183.652 288.523 186.038 289.364C188.447 290.182 191.038 290.591 193.811 290.591C197.038 290.591 199.936 290.068 202.504 289.023C205.072 287.955 207.107 286.477 208.607 284.591C210.107 282.682 210.857 280.455 210.857 277.909C210.857 275.591 210.209 273.705 208.913 272.25C207.618 270.795 205.913 269.614 203.8 268.705C201.686 267.795 199.402 267 196.947 266.318L188.357 263.864C182.902 262.295 178.584 260.057 175.402 257.148C172.22 254.239 170.629 250.432 170.629 245.727C170.629 241.818 171.686 238.409 173.8 235.5C175.936 232.568 178.8 230.295 182.391 228.682C186.004 227.045 190.038 226.227 194.493 226.227C198.993 226.227 202.993 227.034 206.493 228.648C209.993 230.239 212.766 232.42 214.811 235.193C216.879 237.966 217.97 241.114 218.084 244.636H209.902Z" stroke="black" stroke-width="3"/>
<path d="M235.803 297H226.939L252.575 227.182H261.303L286.939 297H278.075L257.212 238.227H256.666L235.803 297ZM239.075 269.727H274.803V277.227H239.075V269.727Z" stroke="black" stroke-width="3"/>
<path d="M297.814 297V227.182H306.268V289.5H338.723V297H297.814Z" stroke="black" stroke-width="3"/>
<path d="M351.814 297V227.182H393.95V234.682H360.268V258.273H391.768V265.773H360.268V289.5H394.496V297H351.814Z" stroke="black" stroke-width="3"/>
</svg>




</div>

<script>
  new Vivus('sale.svg', {duration: 200}, );
</script>