<form class="new-item-form">
      <h3>List an item to sell to people in your neighbourhood!</h3>
        <div>
          <label for="title">What do you have for sale?</label>
          <input type="text" name="title" id="title">
        </div>
         <div>
          <label for="post-description">Describe the item ... </label>
        <textarea id="post-description" name="post-description" rows="4" cols="33"></textarea>
        </div>
        <div>
          <label for="post-price">How much?</label>
          <input type="number" name="post-price" id="post-price">
        </div>
        <div>
           <button type="submit">Submit item for sale!</button>
        </div>
          
    </form>

    
<script src="/javascript/newItem.js"></script>
