  <article class="post">
      <div class="title">
       <h3>{{post.title}}</h3>
       <p>{{post.post_description}}</p>
       <p>${{post.post_price}}</p>
       <p>Category: {{post.category_name}}</p> 
        

<form class="new-item-form">
  <div>
    <h2>List a new item for sale!!</h2>

    <label for="post_tite">title:</label>
    <input type="text" id="post_title" />
  </div>
  <div>
    <label for="post_description">description:</label>
    <input type="text" id="post_description" />
  </div>
  <div>
    <label for="post_price">Price:</label>
    <input type="number" id="post_price" />
  </div>

  <div>
    <label for="post_category">category:</label>
    <input type="text" id="post_category" />
  </div>
  <div>
    <button type="submit">+ add </button>
  </div>
